*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
height: 60px;
background-color: #2c9df9;
display:flex ;
justify-content: space-between;

}
.one{
display: flex;
gap: 10px;
align-items: center;
color: white;



}
.two{
    height: 30px;
    align-self: center;
  display: flex;

}
.three{
display: flex;
gap: 10px;
align-items: center;


}
.boot{
    display: flex;
    height: 40px;
   
}
.line{
    padding-top: 0px;
    height: 40px;
    width: 0.1px;
    background-color: #d1cfb593;
}
.grp3{
    display: flex;
    height: 20px;
    gap: 10px;
    margin-top: 0px;
        
}
.version{
margin-top: 0px;
color: white;
}
.item1{
color: white;

}
.search-bar{
    align-items: center;
    border: 2px solid rgba(128, 69, 69, 0.815);
    box-shadow: 1px 1px 1px 2px #e0d862b6;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    
}
.select{
    color: rgb(78, 94, 233);
    border-radius: 6px;
}
.sel{
color: rgb(78, 94, 233);
border-radius: 6px;   
}
